/* ========= banner part start ============*/
#banner{
    padding: 218px 0 128px 0;
    background-color: $menubg;

    .banner_main{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 60px;

        .banner_text{
            h2{
                color: $menucolor;
                font-size: 56px;
                font-weight: 600;
                width: 580px;
                line-height: 120%;
                padding-bottom: 25px;
                
            }
            p{
                @include pera (16, 400, $menucolor);
                width: 560px;
            }
            .banner_btn{
                padding-top: 48px;
                a{
                    color: $menucolor;
                    font-size: 18px;
                    text-transform: capitalize;
                    i{
                        margin-left: 16px;
                    }

                }
                .ban_btn{
                    @include common_btn2 (18, 600, $hoverclor);
                    text-transform: capitalize;
                    margin-right: 40px;
                }
            }


        }
        .banner_img{
            width: 640px;
            height: 365px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}