/* ========= project part start ============*/
#prooject{
    padding: 128px 0;
    .project_heading{
        padding-bottom: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .project_left h3{
            @include common_heading(48px, 600, $primarycolor);
        }
        .project_right a{
            color: $primarycolor;
            font-size: 18px;
            text-transform: capitalize;
            i{
                margin-left: 16px;
            }
        }
    }

    .project_main{
        display: flex;
        column-gap: 32px;
        .project_item_left{
            width: 845px;
            height: 600px;
            overflow: hidden;
            position: relative;
            .left_img_overlay{
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                background: linear-gradient(to bottom, rgba(28, 30, 83, 0.3), rgba(28, 30, 83, 0.8) ), url(../images/project_1.jpg);
                width: 47%;
                height: 100%;
                display: flex;
                align-items: end;
                .left_text{
                    padding: 0 35px 75px 48px;
                    h3{
                        @include common_heading(24px, 600, $menucolor);
                        line-height: 150%;
                        padding-bottom: 16px;
                    }
                    p{
                        @include pera(16px, 500, $menucolor);
                        width: 300px;
                        padding-bottom: 40px;
                    }
                    a{
                        color: $buttoncolor;
                        font-size: 18px;
                        text-transform: capitalize;
                        i{
                            margin-left: 16px;
                        }
                    }
                }
                
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .project_item_right{
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            .right_item_img{
                width: 405px;
                height: 285px;
                overflow: hidden;
                position: relative;
                .right_img_overlay{
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    background: linear-gradient(to bottom, rgba(28, 30, 83, 0.3), rgba(28, 30, 83, 0.8) ), url(../images/project_3.jpg);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: end;
                    .right_img_text{
                        padding: 0 35px 56px 45px;
                        h3{
                            @include common_heading(24px, 600, $menucolor);
                            line-height: 150%;
                            padding-bottom: 10px;
                            width: 280px;
                        }
                        p{
                            @include pera(16px, 500, $menucolor);
                            width: 300px;
                            padding-bottom: 40px;
                        }
                        a{
                            color: $buttoncolor;
                            font-size: 18px;
                            text-transform: capitalize;
                            i{
                                margin-left: 16px;
                            }
                        }
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover; 
                }

                &:last-child{
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}
